services:
	-
	    class: DataDiff\PhpStan\MemoryDiffStorageBuilderTypeExtension
	    tags:
	        - phpstan.broker.dynamicMethodReturnTypeExtension

	-
	    class: DataDiff\PhpStan\MemoryDiffStorageTypeExtension
	    tags:
	        - phpstan.broker.dynamicMethodReturnTypeExtension

	-
	    class: DataDiff\PhpStan\PHPStanDiscouragedNewClassUsageRule
	    tags:
	        - phpstan.broker.dynamicMethodReturnTypeExtension
